{% extends 'todo/base.html' %}

{% block content %}

<h2>Завершённые задачи</h2>
<h3>Поздравяю! Вы выполнили {{ todos.count }} цели(ей)!</h3>
<ul>
	{% for todo in todos %}
	
	<!-- Данные блоки if проверяют наличие элемента important и memo, и в случае их наличия тег b будет на переменной important, а в случае memo дефис -->

	<li>
		<a href="{% url 'viewtodo' todo.id %}">
			<p><u>Я поставил себе цель - {{ todo.created|date:'M j Y' }}</u></p>
				{% if todo.important %}<b>{% endif %}
				{{ todo.title }}
				{% if todo.important %}</b>{% endif %}
				{% if todo.memo %} - {{ todo.memo }} {% endif %}
			<p class="festive-date">Дата завершения - {{ todo.datecomplited|date:'M j Y' }}</p>

	    </a>
	</li>
	{% endfor %}
</ul>

{% endblock %}