{% extends 'todo/base.html' %}

{% block content %}

<ul>
  {% if todos %}
    <p>Ваши цели:</p>
    {% for todo in todos %}
      {% if todo.important %}
        <li class="important">
      {% else %}
        <li>
      {% endif %}
      <a href="{% url 'viewtodo' todo.id %}">
        {% if todo.important %}<div>{% endif %}
        {{ todo.title }}
        {% if todo.important %}{% endif %}
        {% if todo.memo %} - {{ todo.memo }} {% endif %}
        {% if todo.important %}</div>{% endif %}
      </a>
      </li>
    {% endfor %}
  {% else %}
    <p>Вы ещё не поставили себе цель, или уже выполнили поставленные перед собой цели!</p>
  {% endif %}
</ul>


{% endblock %}