{% extends 'todo/base.html' %}

{% block content %}

<h2>Домашняя страница</h2>

{% if user.is_authenticated %}
  <p>Здравствуйте <h3>{{ user.username }}</h3></p>
{% else %}
  <a class="btn-login" href="{% url 'loginuser' %}">Войти</a>
  <a class="btn-login" href="{% url 'signupuser' %}">Зарегистрироваться</a>
{% endif %}
<main>
<p>После входа или регистрации на сайте, Ваши данные будете видеть только вы!</p>
<p>Весь смысл этого приложения состоит в том что Вы преследуете какую-то цель, можно пометить что эта цель важна, она будет подсвечиваться. После выполнения своей цели Вы можете сделать отметку цель достигнута и просмотреть свои выполненные цели!</p></main>

{% endblock %}
